# Python bytecode
__pycache__/
*.py[cod]

# Packaging/build
*.egg-info/
build/
dist/

# Virtual envs
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
